main {
    background-color: rgba(255, 213, 170, 0.082) color:hsl(​226.55°, ​ 33.33%, ​ 65.88%)
}

h1 {
    color #ffff11;

    color: rgb(225, 248, 15);

    color: rgb(255, 170, 221);

    color: hsl(324, 100%, 83.3%);

    color: hsl(​320.81, ​ 93.94%, ​ 25.88%);
}